node_modules/
.env
coverage/
.DS_Store
.vscode/
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/build/
/.turbo/
.cache/
.next/
out/
/logs/
*.log
*.tsbuildinfo
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
*.rej
*.class
*.jar
*.war
*.iml
*.ipr
*.iwsdist/